@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extend";


.boton{

    @extend %boton;
    &:hover{
        background-color: variables.$hover;
    }
}
.btn-contacto{
    @include mixins.flex(column, none, center);
    display: flex;
    flex-direction: column;
    align-items: center;
}