@use "../utilities/variables";
@use "../utilities/mixins";

.info-lugares{
    padding: 30px;
    @include mixins.flex(row, space-around, none);
    gap: 20px;
}
.datos-ceremonia{
    @include mixins.flex(row, space-around, none);
}
.fotos-ce{
    width: 400px;
    border-radius: variables.$border-radius;
}
.reglas-lugar{
    gap: 20px;
    @include mixins.flex(column, center, center);
}