.info-lugares{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.datos-ceremonia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}