@use "../utilities/mixins";

.info-contacto{
     @include mixins.flex(column, none, center);
}
.input-contacto{
    border: 2px solid black;
}
.form{
    margin: 100px;
}
.contacto-wpp{
    width: 150px;
    display: grid;
    place-self: center;
}
.img-wpp{
    width: 100%;
}