@use "../utilities/variables";
@use "../utilities/mixins";


@media (max-width: 450px){

    .logo{
        width: 70px;
    }
    p{
        font-size: 16px;
    }

   .fotos-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        margin: 35px;
        gap: 40px;
    }

    .info-lugares{
        padding: 30px;
        @include mixins.flex(column, center, none);
        gap: 20px;
    }
    .info-dresscode{
        @include mixins.flex(column, center, center);
    }
    .info-nosotros{
        margin-top: 80px;
        @include mixins.flex(column, center, center);
        gap: 50px;
    }
    .fotos-tam{
        width: 200px;
        border-radius: variables.$border-radius;
    }
    .info-hijos{
        margin: 20px;
        @include mixins.flex(column, center, center);
        gap: 30px;
    }
}

@media (max-width: 1024px){

    .logo{
        width: 90px;
    }
    p{
        font-size: 18px;
    }
    .fotos-tam{
        width: 300px;
        border-radius: variables.$border-radius;
    }
    .info-hijos{
        margin: 20px;
        @include mixins.flex(row, center, center);
        gap: 10px;
    }
    .fotos-ce{
        width: 300px;
        border-radius: variables.$border-radius;
    }
}