@use "../utilities/variables";
@use "../utilities/mixins";

.info-nosotros{
    margin-top: 80px;
    @include mixins.flex(column, none, center);
    gap: 50px;
}
.fotos-tam{
    width: 400px;
    border-radius: variables.$border-radius;
}
.info-hijos{
    margin: 20px;
    @include mixins.flex(row, space-around, none);
    gap: 30px;
}