.info-nosotros{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.fotos-tam{
    width: 400px;
    border-radius: 10px;
}
.info-hijos{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}