@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/* font-family: "Roboto Slab", serif;*/

body{
    font-family: "Roboto Slab", serif;
}

h1{
    color: black;
}

.nav-li{
    list-style-type: none;
}

.nav-a{
    color: black;
    text-decoration: none;
}

.logo{
    width: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.datos-boda{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contador-dias{
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos-nosotros{
    margin: 35px;
    gap: 20px;
}

.boton{
    color: black;
    text-decoration: none;
    margin: 8px;
    display: inline-block;
    border: 1px solid black;
    padding: 8px;
    background-color: aliceblue;
}

.datos-ceremonia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-lugares{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.info-dresscode{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img-dresscode{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-spotify{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.info-hijos{ 
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    margin: 100px;
}
.btn-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
